{{- define "override" }}{{ executeTemplate . }}
{{ end }}{{ define "default" }}
{{- "ID" }}{{tab}}{{"NAME"}}{{tab}}{{"TYPE"}}{{tab}}{{"REGION"}}{{tab}}{{"ALIAS"}}{{tab}}{{"CLOUD_ID"}}
{{ .ID }}{{tab}}{{ .Name }}{{tab}}{{ .Type }}{{tab}}{{ .RegionID }}{{tab}}{{ if .Alias }}{{ .Alias }}{{ else }}-{{ end }}{{tab}}{{ if .CloudID }}{{ .CloudID }}{{ else }}-{{ end }}
{{- end}}
