{{- define "override" }}{{ range .Configs }}{{executeTemplate .}}
{{ end }}{{ end }}{{ define "default" }}
{{- "NAME" }}{{tab}}{{ "TYPE" }}{{tab}}{{ "REGION" }}{{tab}}{{ "BUCKET NAME" }}{{tab}}{{ "ACCESS KEY" }}
{{- range .Configs }}{{ $config := (toS3TypeConfig .Config) }}{{ $settings := $config.Settings }}
{{ .RepositoryName }}{{tab}}{{ $config.Type }}{{tab}}{{ $settings.Region }}{{tab}}{{ $settings.Bucket }}
{{ tab}}{{ $settings.AccessKey}}
{{- end }}
{{end}}
