{{- define "override" }}{{ range . }}{{ executeTemplate .}}
{{ end }}{{ end }}{{ define "default" }}
{{- "INSTANCES" }}{{ tab }}{{ "CAPACITY" }}{{tab}}{{ "STORAGE MULTIPLIER" }}
{{- range . }}
{{- $Capacity := .Capacity}}
{{- $StorageMultiplier := .StorageMultiplier}}
{{- range .Instances}}
{{ . }}
{{- tab }}{{if $Capacity}}{{ $Capacity }}{{else}}-{{end}}
{{- tab}}{{if $StorageMultiplier}}{{ $StorageMultiplier}}{{else}}-{{end}}
{{- end}}
{{- end}}
{{end}}
