{{- define "override" }}{{- range $index, $elem := .Secrets }}{{executeTemplate .}}
{{ end }}{{ end }}{{ define "default" }}
{{-  "SECRET" }}{{tab}}{{  "VALUE" }}{{tab}}{{ "AS FILE"}}
{{- range $index, $elem := .Secrets }}
{{ $index }}{{tab}}{{ $elem.Value }}{{tab}}{{ $elem.AsFile }}
{{- end}}
{{end}}
