{{- define "override" }}{{ range . }}{{executeTemplate .}}
{{ end }}{{ end }}{{ define "default" }}
{{-  "ID" }}{{ tab }}{{  "NAME" }}{{ tab }}{{ "SYSTEM" }}{{ tab }}{{ "DESCRIPTION" }}
{{- range . }}
{{ .ID }}{{ tab }}{{ .Name }}{{ tab }}{{  .SystemOwned }}{{ tab }}{{ .Description }}
{{- end}}
{{end}}
